.skeleton-loader {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
    /* Tailwind's slate-200 for a clean look */
    border-radius: 8px;
    height: 10px;
    margin-bottom: 15px;
}

.skeleton-loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 300px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}



.skeleton-loader1 {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
    /* Tailwind's slate-200 for a clean look */
    border-radius: 8px;
    height: 30px;
    margin-bottom: 10px;
}

.skeleton-loader1::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 300px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}




.skeleton-loader2 {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
    /* Tailwind's slate-200 for a clean look */
    border-radius: 8px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.skeleton-loader2::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 300px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}